@{
    ViewBag.Title = "Обо мне";
}

<link rel="stylesheet" href="../../../Content/css/about.css">

<div>
    <h2>Обо мне</h2>

    <img src="../../../Content/img/me.jpg" alt="Ilia_Valchenko_photo">

    <p>
        Меня зовут <a href="http://vk.com/ivalchenko" title="Страница ВКонтакте" target="_blank">Вальченко Илья Николаевич</a> и я являюсь тем самым человеком, который стоит за созданием этого сайта.
    </p>

    <p>
        Учусь в городе Минске, в 2012 году закончил <a href="http://www.ggl.by/" title="www.ggl.by" target="_blank">Гомельский городской лицей №1</a> и поступил на <a href="http://www.mmf.bsu.by/" title="www.mmf.bsu.by" target="_blank">механико-математический факультет</a> <a href="http://www.bsu.by/" title="www.bsu.by" target="_blank">Белорусского государственного университета</a>. В 2014 году распределился на кафедру Веб-технологий и компьютерного моделирования (Численных методов и программирования).
    </p>

    <p>
        С первого курса кручусь в сфере начинающих интернет-проектов: сначала это были просто попытки сделать какой-нибудь сайт, потом начали появляться осмысленные идеи, помогал друзьям-знакомым с их проектами. Сейчас же, немного поучившись на собственных ошибках, снова занимаюсь своими интернет-проектами и участвую в других интересных историях :) Если Ваша «история» интересная, можете <a>@Html.ActionLink("предложить мне в ней поучаствовать", "Contact", "Home")</a>.
    </p>
</div>
