@{
    ViewBag.Title = "Контакты";
}

<link rel="stylesheet" href="../../../Content/css/contacts.css">

<div id="precontacts">
    <h2>Здесь вы можете связаться со мной.</h2>
    <p>Я постараюсь ответить на ваш вопрос при первой же возможности.</p>
</div>

<div id="contacts">
    <p>Моб. телефон: <strong>+375 (029) 789-80-19</strong></p>

    <p>Эл. почта: <strong>i.valchenk@hotmail.com</strong></p>

    <p>Skype: <strong>ilia.valchenko</strong></p>

    <p>GitHub: <a href="https://github.com/ivalchenko" title="Профиль GitHub" target="_blank"><strong>ivalchenko</strong></a></p>

    <p>ВКонтакте: <a href="http://vk.com/ivalchenko" title="Страница ВКонтакте" target="_blank"><strong>Вальченко Илья</strong></a></p>
</div>
