@{
    ViewBag.Title = "Главная";
}

<h2>Добро пожаловать на мой сайт!</h2>

<p>
    Меня зовут Вальченко Илья Николаевич. С дополнительной информацией вы можете ознакомиться в разделе
    <a href="about.html">Обо мне</a>.
</p>

<p>
    Идея создания сайта берет свое начало от желания абстрагироваться от социальных сетей, ограничивающих
    меня своими рамками. Мне приходилось идти на компромиссы с самим сабой и размещать не тот материал, который мне
    действительно казался интересным, а тот, который, на мой взгляд, заинтересовал бы большую аудиторию и собрал бы
    больше "лайков". Здесь я планирую размещать весь материал "не вошедший в эфир", а также буду делиться какими-то
    своими соображениями по поводу различных интересных статей.
</p>

<h2><img src="../../../Content/img/rotonda.png" alt="rotonda_logo"></h2>

<p>
    Еще одной причиной, которая послужила фундаментом для создания собственного блога, стало создание в
    июне 2014 года коммерческого объединения <strong>Rotonda</strong>.
</p>

<p>
    Являясь одним из основателей, я хотел как-то выделить часть проектов, разработанных
    лично мной, из общего потока.
</p>

<p>
    <strong>P.S.</strong> Для меня Rotonda — это мечта, это возможность заниматься любимым делом,
    не ограничивая свой потенциал.
</p> 