h3 {
	font-size: 1.2em;
	border-bottom: 0.15em solid #000000;
	width: 97%;
	margin: 0 auto;
	padding-bottom: 0.4em;
	margin-bottom: 0.5em;
}

h4 {
	font-size: 1.1em;
	margin-top: 1em;
}

.form-group {
	padding-left: 1.5%;
}

.post p{
	padding: 0;
	margin: 0.4em 0 0 -2em;
}

.post-footer {
	color: #636363;
	list-style-type: none;
	margin: -1em 0 0 -0.5em;
}

.post-footer li {
	display: inline-block;
	margin-left: 0.5em;
}

input {
	border: none;
	padding: 0.4em 7em 0.4em 1em;
	background-color: #d9d9d9;
	border-left: 1em solid #55acee;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

input[type="submit"] {
	border: none;
	background: #0084b4;
	color: #fff;
	display: block;
	padding: 4px 10px;
	margin-top: 1.5%;
}

input[type="submit"]:hover {
	background: #55acee;
}

.back-to-list-button {
	margin-top: 0.7em;
}

.back-to-list-button a {
	text-decoration: none;
	font-size: 0.9em;
	border: none;
	background: #0084b4;
	color: #fff;
	padding: 4px 21px;
	margin-top: 1.5%;
}

.back-to-list-button a:hover {
	background: #55acee;
}

.like-button {
	background: none;
	border: none;
	font-size: 1em;
	color: #636363;
	margin-left: -0.35em;
}

.like-button:hover {
	color: #de3636;
}

