h2 {
    margin: 0 auto;
    width: 98%;
    border-bottom: 0.1em solid #000000;
}

.c {
    text-align: center;
}

tr td {
    padding: 0.1em 0.4em 0.1em 0.4em;
}

#tbrole {
    margin-left: 1em;
    margin-top: 1em;
}